body{
    height: 100vh; /* Define la altura del body al 100% de la altura de la ventana del navegador */
    /* Añade un margen superior de 10px al body */
    object-fit: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
    background-image: url(https://cdn.pixabay.com/photo/2013/02/21/19/12/lumber-84678_1280.jpg); /* Establece la imagen de fondo del body */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el área del body */
}

#app{
    background-image: url(https://cdn.pixabay.com/photo/2013/02/21/19/12/lumber-84678_1280.jpg); /* Establece la imagen de fondo del div con id "app" */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el área del div */
    height: 100vh; /* Define la altura del div al 100% de la altura de la ventana del navegador */
    display: flex; /* Usa el modelo de caja flexible para el layout del div */
    align-items: center; /* Centra verticalmente el contenido del div */
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.input1{
    width: 500px; /* Define el ancho del input a 500px */
    border: 0; /* Elimina el borde del input */
    background-image: url(https://i.pinimg.com/564x/63/34/dc/6334dc89632f329a3b788908669b02f6.jpg); /* Establece la imagen de fondo del input */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el área del input */
    padding: 5px; /* Añade un padding de 5px al input */
    color: white; /* Define el color del texto del input a blanco */
    font-weight: bold; /* Define el peso de la fuente del texto del input a negrita */
    border-radius: 10px; /* Añade bordes redondeados de 10px al input */
     /* Centra el input horizontalmente */
}

.input1:active{
    background-color: transparent; /* Cambia el color de fondo a transparente cuando el input está activo */
}

.Task{
    display: flex; /* Usa el modelo de caja flexible para el layout del div de la tarea */
    background-color: transparent; /* Establece el color de fondo a transparente */
    padding: 10px; /* Añade un padding de 10px */
    /* Centra el div horizontalmente */
}

h1{
    width: 500px; /* Define el ancho del h1 a 500px */
    margin-top: 20px; /* Añade un margen superior de 20px */
    display: flex; /* Usa el modelo de caja flexible para el layout del h1 */
    color: white; /* Define el color del texto a blanco */
    font-weight: bolder; /* Define el peso de la fuente del texto a negrita */
    font-size: 90px; /* Define el tamaño de la fuente a 90px */
    /* Añade un margen izquierdo de 200px */
}

ol{
    width: 500px; /* Define el ancho de la lista ordenada a 500px */
  /* Añade un margen izquierdo de 68px */
   /* Elimina el padding en los lados de la lista */
}

li{
    background-image: url(https://i.pinimg.com/564x/63/34/dc/6334dc89632f329a3b788908669b02f6.jpg); /* Establece la imagen de fondo de los elementos de la lista */
    font-weight: bold; /* Define el peso de la fuente del texto a negrita */
    display: flex; /* Usa el modelo de caja flexible para el layout de los elementos de la lista */
}

li:hover i{
    visibility: visible; /* Hace visibles los iconos dentro del elemento de la lista al pasar el mouse */
}

::placeholder{
    font-weight: bold; /* Define el peso de la fuente del texto del placeholder a negrita */
    color: white; /* Define el color del texto del placeholder a blanco */
}

.fa-solid{
    visibility: hidden; /* Oculta los iconos por defecto */
}

.papelera{
    border: none; /* Elimina el borde del botón */
    margin-left: 8px; /* Añade un margen izquierdo de 8px */
    background: transparent; /* Establece el fondo del botón a transparente */
}

.completado{
    border: none; /* Elimina el borde del botón */
    margin-left: 8px; /* Añade un margen izquierdo de 8px */
    background: transparent; /* Establece el fondo del botón a transparente */
}

.completed span {
    text-decoration: line-through; /* Añade una línea que cruza el texto cuando la tarea está completada */
}

.countTareas{
    width: 500px; /* Define el ancho del div a 500px */
    display: flex; /* Usa el modelo de caja flexible para el layout del div */
    /* Añade un margen izquierdo de 68px */
}
.Usuario{
    display: flex;
}
.Usuario button{
    display: flex; /* Usa el modelo de caja flexible para el layout del div de la tarea */
    padding: 5px; /* Añade un padding de 10px */
    height: 38px;
    font-weight: bold;
}

